[Unit]
Description= Petclinic Application
After=network.target
 
[Service]
WorkingDirectory=/etc/init.d/
User=root
Group=root
Type=forking
ExecStart=/bin/bash /etc/init.d/petclinic start
ExecStop=/bin/bash /etc/init.d/petclinic stop
PIDFile=/home/devops/petclinic/petclinic.pid
RestartSec=15
Restart=always
 
[Install]
WantedBy=multi-user.target
